<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Operis</title>
    <link href="/CSS/Operis.css" rel="stylesheet" >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-4 col-lg-5 col-xl-5"></div>
        <div class="col-sm-6 col-md-4 col-lg-2 col-xl-2">
            <img class="img-fluid mx-auto" src="/IMG/Pazbaza-logos_white.png" alt="pazbaza logo">
        </div>
        <div class="col-sm-3 col-md-4 col-lg-5 col-xl-5"></div>
    </div>
    <div class="row mt-3">
        <div class="col-sm-3 col-md-4 col-lg-5 col-xl-5"></div>
        <div class="col-sm-6 col-md-4 col-lg-2 col-xl-2">
            <h1>Operis</h1>
        </div>
        <div class="col-sm-3 col-md-4 col-lg-5 col-xl-5"></div>
    </div>
    <div  class="row">
        <div class="col-md-5"></div>
        <div class="col-md-2">
            <form class="flex" action="/Operis/Login">
                <button class="btn btn-light">Entrar</button>
            </form>
        </div>
        <div class="col-md-5"></div>
    </div>
</div>
</body>
</html>