<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>sidebar test</title>
  <link rel="stylesheet" href="../public/CSS/sidebar.css">
</head>
<body>
<nav class="navbar">
  <ul class="navbar-nav">
    <li class="logo">
      <a href="#" class="nav-link">
        <i class="bi bi-pc"></i>
        <span class="links-name"><b>Cyber</b></span>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="bi bi-pc-display-horizontal"></i>
        <span class="links-name">Disponibilidad</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="bi bi-gpu-card"></i>
        <span class="links-name">Gestionar equipos</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class='bx bx-log-out' ></i>
        <span class="links-name">Salir</span>
      </a>
    </li>
  </ul>
</nav>
<main>
  <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque temporibus eligendi unde, et modi accusantium enim deleniti exercitationem itaque consectetur provident laboriosam quos maiores corrupti quibusdam officia, obcaecati quia quam!</h1>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et labore laboriosam, provident error id perferendis quae iste blanditiis cupiditate. Magnam, aut culpa dolore reprehenderit soluta consectetur. Iusto dolorem laborum laboriosam!
    Vero numquam eveniet neque veritatis aliquid perferendis inventore dolor distinctio repellat unde optio, ea consequuntur excepturi ut nobis ad, aliquam libero tempora fugit dolorem sunt, quos ab reprehenderit velit. Voluptatem!
    Minima aut eaque magnam error modi, tempora iusto fugit maiores molestiae eos quae fugiat numquam perspiciatis quaerat nesciunt adipisci laboriosam, explicabo, qui est magni dolores voluptates? Excepturi quaerat officia explicabo.
    Minus iusto cumque consectetur temporibus modi provident beatae nemo numquam accusantium nam, voluptas rem recusandae vel doloribus sint ex mollitia officia earum ipsam velit ipsa placeat facere dolores? Quia, at!
    Nihil libero omnis perspiciatis neque maiores hic. Fugiat, vero neque? Aliquam quos dolores voluptas, expedita quod consectetur distinctio aperiam asperiores, ut, magnam odit totam facilis? Dolorem necessitatibus voluptatem magnam ut!
    In rem, dolorem at, nostrum quam dolor blanditiis sint neque, tempore officiis suscipit dolores ipsam. Sit aliquid nobis odio distinctio ut commodi consectetur ratione deleniti fugiat. Adipisci sed impedit nobis!
    Hic reprehenderit cupiditate enim ex voluptatibus ipsam odit, neque in dignissimos ad perspiciatis corrupti vero similique nobis adipisci distinctio, suscipit voluptatum! Architecto, corporis facere. Accusantium enim aspernatur incidunt deserunt facilis?
    Eos voluptatem quam non, molestias optio aspernatur illo cupiditate eaque ut facere tempore dignissimos iste maxime explicabo voluptatibus mollitia, nisi ipsa cumque asperiores, obcaecati culpa. Quam quaerat consectetur sequi ut!
    Suscipit voluptas, reprehenderit maxime facere magni ea nemo! Corporis, quasi! Ipsa, harum fugiat. Dolor, ullam dolorem distinctio exercitationem nesciunt eius fuga, amet consectetur aliquid, numquam rem dolore. Quidem, possimus harum!
    Quas tempora placeat quae deserunt adipisci obcaecati consectetur, perferendis ipsa magni modi saepe deleniti ad, illo repudiandae odit cumque minus quia assumenda quo accusantium dolor sunt libero aperiam. Fugit, necessitatibus.
    Molestiae esse exercitationem dignissimos provident vel laborum voluptatem nam officia. Quo consequuntur illo odit fugit ab ducimus reprehenderit neque voluptatum accusamus! Quam cupiditate laudantium dolore nemo quisquam aliquam sed eum!
    Obcaecati mollitia officia ea voluptates vitae expedita odit, fugit aut dolor facilis at nemo tempore, sapiente, eveniet repudiandae ut sequi deserunt repellendus quas vel corrupti qui. Sit, distinctio velit. Iusto.
    Sunt doloremque enim praesentium aperiam eveniet totam doloribus, molestias similique maxime consequatur odio provident nam! Autem, aut minima obcaecati non quia illum, dignissimos, odio quam architecto repellat odit at nulla.
    Fugit inventore, minima ad veniam, optio eaque modi aliquam a non impedit ipsum id enim consectetur obcaecati possimus saepe sapiente exercitationem alias officia dolorum quas unde corporis! Temporibus, nesciunt velit?
    Esse veritatis hic vitae pariatur ut! Iusto, nobis officia? Obcaecati eos velit, nesciunt incidunt a exercitationem cumque totam suscipit cupiditate tempore est, repudiandae nostrum eligendi deleniti. Tenetur qui perspiciatis voluptatibus.
    Consectetur laudantium libero odio illo similique molestiae sunt omnis culpa dolores vitae nisi atque sint mollitia, commodi natus unde nihil ab amet officia quaerat delectus? Quisquam veniam saepe voluptatum deserunt.
    Omnis excepturi voluptatum dolorum ad possimus quam rem aliquid nostrum sequi molestiae ipsam fugit ipsa esse nobis reprehenderit rerum exercitationem odit temporibus dolor, aspernatur similique asperiores hic, mollitia officiis? Expedita!
    Eos sit deserunt pariatur, voluptas consequuntur natus, labore ea esse incidunt accusamus dolorem nobis eum delectus voluptate, vitae vel. Sequi itaque ullam repudiandae culpa nemo earum distinctio, vel deserunt quae.
    Provident repellendus maxime quas excepturi, est distinctio mollitia odio, vero vel eveniet cumque ipsam temporibus veritatis suscipit minima quidem nulla in sint cum dicta velit quod asperiores! Repellendus, odio dicta.
    Consequatur nisi quas labore reiciendis numquam sit. Corporis officiis fuga, possimus vel omnis distinctio vero voluptatibus doloremque esse, quo excepturi. Vel alias, molestiae quasi unde fugiat amet cum eaque aliquid!</p>
</main>
</body>
</html>