@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.letra_cuadro1{
    color: #808080;
}

.container input{
    width: 300px;
    border-radius: 5px;
    align-content: center;
}

.container .botonAgregar{
    width: 300px;
    border: none;
    color: white;
    background-color: #0B6F5B;
}

#rowup{
    height: 5vh;
}

#rowmid{
    height: 85vh;
}

#rowdown{
    height: 10vh;
}

.container .card{
    height: 100%;
    border-radius: 75px;
}

.container .table{
    height: 60%;
    background-color: #EDEDED;
}

.container .card .table button{
    font-size: 10px;
}

