@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.letra_cuadro1{
    color: #808080;
}

.container input{
    width: 300px;
    border-radius: 5px;
    align-content: center;
}

