.container-fluid{
    background-color: #0CA789;
    height: 100vh;
    width: 100vw;
}
.container-fluid h2{
    color: white;
}
::placeholder{
    color: white;
    opacity: 1;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
    opacity: 1;
}
#Bt_Login{
    border-radius: 10px;
    font-size:30px;
    background-color: #ffffff;
    color: #63C0AE;
    border: none;
    width: 200px;
}

.container-fluid input{
    font-size:30px;
    background-color: #63C0AE;
    color: white;
    border: none;
    border-radius: 5px;
}
#bt_back{
    border-radius: 10px;
    font-size:30px;
    background-color: #444444;
    color: white;
    border: none;
    width: 200px;
}
