#rowup{
    height: 5vh;
}

#rowmid{
    height: 85vh;
}

#rowdown{
    height: 10vh;
}

.container .card h3{
    color: #024059;
}

.container .card{
    border-radius: 70px;
    width: 35vw;
    background-color: #d6dfe8;
}

.container input{
    width: 350px;
    background-color: #95abc3;
}

.container select{
    width: 350px;
    background-color: #95abc3;
}

.container .datebox{
    width: 120px;
}

.container textarea{
    height: 75px;
    width: 350px;
    background-color: #95abc3;
}
#confirmar{
    width: 200px;
    background-color: #0ca789;
    color: white;
}