@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.cont a{
    text-decoration: none;
}
.cont h2{
    color: white;
}
.boxiicon{
    height:100px;
}

.container-fluid .row{
    height: 100vh;
}

.container-fluid .colAdjust{
    height: 50vh;
    border-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 576px){
    .container-fluid .colAdjust{
        height: 33.33vh;
    }
}

.container-fluid a{
    text-decoration: none;
}
.container-fluid h2{
    color: white;
}

#cyber{
    background-color: #38B49C;
}
#paqueteria{
    background-color: #22AE93;
}
#papeleria{
    background-color: #0CA789;
}
#ganancia{
    background-color: #378777;
}
#empleados{
    background-color: #0B6F5B;
}
#pazbaza{
    background-color: #575757;
}
.cont{
    height: 100vh;
    width: 100vw;
}