@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body {

    font-family: 'Poppins', sans-serif;
}

.container-fluid{
    background-color: #0ca789;
    padding: 3em;
    align-content: center;
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;
}

h1{
    text-align: center;
    color: white;
    padding-bottom: 1em;
    font-size: 70px;
}

#logo{
    height: 40vh;
    width: 80vw;
}

.flex{
    display: flex;
    justify-content: center;
}
