@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.cont a{
    text-decoration: none;
}
.cont h2{
    color: white;
}
.boxiicon{
    height:100px;
}
table{
    height: 100%;
    width: 100%;
    vertical-align: center;
    text-align: center;
}
table, tr, td{
    border-color: white;
}
td{
    width: 30%;
    height: 50%;
    vertical-align: center;
    align-content: center;
}
div{
    height: 100%;
}
#cyber{
    background-color: #38B49C;
}
#paqueteria{
    background-color: #22AE93;
}
#papeleria{
    background-color: #0CA789;
}
#ganancia{
    background-color: #378777;
}
#empleados{
    background-color: #0B6F5B;
}
#pazbaza{
    background-color: #575757;
}
.cont{
    height: 100vh;
    width: 100vw;
}