*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.sidebar{
   position: fixed;
   top: 0;
   left: 0;
   height: 100%;
   width: 120px;
   background: #023f58;
   padding: 6px 14px;
   transition: all 0.5s ease;
   z-index: 8;
}

@media only screen and (max-width: 768px){
    .sidebar{
        background: white;

    }

    /*
    .sidebar.active{
        background: #cbcbcb;
    }su funciona, solo hay que cambiar el color*/

    .sidebar .logo_content .logo{
        color: #023f58;
    }

    .sidebar #btn{
        color: #023f58;
    }

    .sidebar .active #btn{
        color: white;
    }

    .sidebar .active{
        background: #023f58;
    }

    .sidebar ul li a {
        color: white;
    }

    .sidebar.active ul li a {
        color: #023f58;
    }
}

.sidebar.active{
    width: 260px;
    z-index: 10;
}

@media only screen and (min-width: 768px){
    .sidebar .logo_content .logo{
        color: white;
    }

    .sidebar #btn{
        color: white;
    }

    .sidebar ul li a {
        color: white;
    }

}

.sidebar .logo_content .logo{
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.sidebar.active .logo_content .logo{
    opacity: 1;
    pointer-events: none;
}

.logo_content .logo i{
    font-size: 28px;
    margin-right: 5px;
}

.logo_content .logo .logo_name{
    font-size: 20px;
    font-weight: 400;
}

.sidebar #btn{
    position: absolute;
    left: 50%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}

.sidebar.active #btn{
    left: 90%;
}

.sidebar ul{
    margin-top: 20px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.sidebar ul li{
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 -5px;
    list-style: none;
    line-height: 50px;
    border-radius: 12px;
}

.sidebar ul li .tooltip{
    position: absolute;
    left: 122px;
    top: 0;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    height: 35px;
    width: 140px;
    background: white;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
}

.sidebar.active ul li .tooltip{
    display: none;
}x

.sidebar ul li:hover .tooltip{
    transition: all 0.5s ease;
    opacity: 1;
    top: 50%;
}

.sidebar ul li a{
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space: nowrap;
}

.sidebar ul li a:hover{
    color: #023f58;
    background: white;
}

.sidebar ul li i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.sidebar .links-name{
    opacity: 0;
    pointer-events: none;
}

.sidebar.active .links-name{
    opacity: 1;
    pointer-events: auto;
}

.container-fluid{
    max-width: 80vw;
}

.container-fluid h2{
    color: #023f58;
}

.container-fluid table{
    background-color: #d4dde6;
    color: black;
    height: 60vh;
    width: 100%;
}

.container-fluid .table-responsive{
    max-height: 60vh;
    z-index: 9;
    width: 100%;
}

#theader{
    height: 5%;
    background-color: #9daec0;
}

#tbody{
    background-color: #d6dfe8;
}

#btnmod{
    color: white;
    border: none;
    background-color: #345d8c;

}

#entregar{
    border: none;
    background-color: #0ca688;
    color: white;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.modal-backdrop.show.fade{
    display: none !important;
}
